/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: #fafafa;
}

/* Main container */
.event-row {
    display: inline-flex;
    flex-direction: row;
    gap: 2px;
    align-items: stretch;

    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

/* Icon container */
.event-icon {
    width: 70px;
    height: 70px;
    background-color: #e91e63;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Data container */
.event-data {
    display: flex;
    flex-direction: row;
    gap: 0;
    padding: 0;
    align-items: stretch;
    background-color: #212121;
}

/* Event label */
.event-label {
    flex: 1;
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
}

/* Pilot infos */
.pilot-infos {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10px 0 20px;
    gap: 5px;
    width: auto;
}

/* Pilot name wrapper */
.pilot-name-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    width: auto;
}

/* Pilot flag */
.pilot-country {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

/* Pilot name */
.pilot-name {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0.85;
}

/* Pilot team */
.pilot-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    width: auto;

    font-size: 20px;
    font-style: italic;
    color: #ffd54f;
    line-height: 0.85;
    text-transform: uppercase;
}

/* Ship model */
.ship-model {
    width: auto;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px 0 10px;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

.event-result {
    width: auto;
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: 400;
}
